<!DOCTYPE html>
<html>
<head>
  <title>rLoop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>

</head>
<body>
  <div class="header">
    <img class="logo" src="../assets/images/logo-white.png">
    <ul class="navbar">
      <li><a href="#">rloop</a></li>
      <li><a href="#">our team</a></li>
      <li><a href="#">the hyperloop</a></li>
      <li><a href="#">news</a></li>
      <li><a href="#">shop</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </div>

  <div class="main-content"></div>
</body>
</html>