<!DOCTYPE html>
<html>
<head>
  <title>rLoop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="../js/common.js"></script>
</head>
<body>

  <div class="header">
    <img class="logo" src="../assets/images/logo-white.png">
    <span class="hamburger" onclick="toggleHamburgerMenu()">≡</span>
    <ul class="navbar">
      <li><a href="index.html">rLoop</a></li>
      <li><a href="team.html">Our Team</a></li>
      <li><a href="hyperloop.html">The Hyperloop</a></li>
      <li><a href="news.html">News</a></li>
      <li><a href="shop.html">Shop</a></li>
      <li><a href="contact.html">Contact</a></li></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="half-page top-subheader">
      <div class="color-layer light-blue">
        <div class="content middle">
          <p class="megatext">If we didn't think we could <strong>change the world</strong> we wouldn't be here.</p>
        </div>
      </div>
    </div>
    <div class="half-page content-div">
      <div class="content middle">
        <h1>What is rLoop</h1>
        <h3>rLoop is the world’s first non profit, open source, online think tank.</h3>
        <p>Formed in June of 2015 to compete in the SpaceX Hyperloop Pod Competition and incorporated as a non profit in September,</p>
        <p>As a public benefit non profit corporation, rLoop truly is community focused. It’s about everyone being heard, and then rallying behind the best solution.</p>
      </div>
    </div>
    <div class="two-thirds-page content-div group-image">
      <div class="color-layer blue-gradient">
        <div class="content bottom">
          <h2>Coming together was our beginning, staying together has been our progress and working together with passion and trust is our success.</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-container">
      <img class="logo" src="../assets/images/logo-white.png">
      <div class="contact-info">
        <h3>get in touch</h3>
        <p>contact@rloop.org</p>
      </div>
      <div class="follow-us">
        <h3>follow us</h3>
        <a href="https://twitter.com/rLoopTeam"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/rloopteam" class="middle"><i class="fa fa-facebook fa-lg "></i></a>
        <a href="https://www.reddit.com/r/rLoop"><i class="fa fa-reddit-alien fa-lg"></i></a>
      </div>
    </div>
  </div>
</body>
</html>
