<!DOCTYPE html>
<html>
<head>
  <title>rLoop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  <div class="header">
    <img class="logo" src="../assets/images/logo-white.png">
    <ul class="navbar">
      <li><a href="#">rloop</a></li>
      <li><a href="#">our team</a></li>
      <li><a href="#">the hyperloop</a></li>
      <li><a href="#">news</a></li>
      <li><a href="#">shop</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="top-subheader">
      <div class="color-layer">
        <p class="megatext">If we didn't think we could <strong>change the world</strong> we wouldn't be here.</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-container">
      <img class="logo" src="../assets/images/logo-white.png">
      <div class="contact-info">
        <h3>get in touch</h3>
        <p>contact@rloop.org</p>
      </div>
      <div class="follow-us">
        <h3>follow us</h3>
        <a href="https://twitter.com/rLoopTeam"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/rloopteam" class="middle"><i class="fa fa-facebook fa-lg "></i></a>
        <a href="https://www.reddit.com/r/rLoop"><i class="fa fa-reddit-alien fa-lg"></i></a>
      </div>
    </div>
  </div>
</body>
</html>
