<!DOCTYPE html>
<html>
<head>
  <title>rLoop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="icon" href="../assets/images/favicon-32.png">
  <script src="../js/common.js"></script>
</head>
<body>

  <div class="header">
    <img class="logo" src="../assets/images/logo-white.png">
    <span class="hamburger" onclick="toggleHamburgerMenu()">≡</span>
    <ul class="navbar">
      <li><a href="team.html">Our Team</a></li>
      <li><a href="hyperloop.html">The Hyperloop</a></li>
      <li><a href="press.html">Press</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li>|</li>
      <li><a target="_none" href="http://rloop.tictail.com/">Shop</a></li>
    </ul>
  </div>

  <div class="press main-content">
    <div class="half-page top-subheader press-title">
      <div class="color-layer light-blue">
        <div class="content bottom text">
          <p class="megatext"><strong>Press</strong></p>
        </div>
      </div>
    </div>
    <div class="press-reports clearfix">
      <!-- top -->
      <div class="report verge">
        <div class="logo">
          <img src="../assets/images/verge.png">
        </div>
        <div class="text">
          <h2>How to build a Hyperloop</h2>
          <p><i>Over a thousand students flood Texas A&amp;M last weekend for a piece of Elon Musk's moonshot</i></p>
        </div>
      </div>
      <div class="report fortune" >
        <div class="logo">
          <img src="../assets/images/fortune.png">
        </div>
        <div class="text">
          <p>One non-university team organized through online forum Reddit, advanced through the first phase of the compeition and will test their pod this summer on a SpaceX-built Hyperloop test track</p>
        </div>
      </div>

      <!-- mid -->
      <div class="report psfk" >
        <div class="logo">
          <img src="../assets/images/psfk.png">
        </div>
        <div class="text">
          <p>rLoop: We Are Pushing the Limits of the Open Source, Online Think Tank Model</p>
        </div>
      </div>
      <div class="report electrek" >
        <div class="logo">
          <img src="../assets/images/electrek.png">
        </div>
        <div class="text">
          <p>Elon Musk on the Hyperloop: "I'm starting to think this is really going to happen" - MIT and Reddit won the SpaceX Hyperloop Pod Design Competition</p>
        </div>
      </div>
      <div class="report motherboard" >
        <div class="logo">
          <img src="../assets/images/motherboard.png">
        </div>
        <div class="text">
          <p>Meet the Redditors Who Designed a Hyperloop Pod</p>
        </div>
      </div>

      <!-- bottom -->
      <div class="report autoevolution">
        <div class="logo">
          <img src="../assets/images/autoevolution.png">
        </div>
        <div class="text">
          <p>rLoop is the Latest Team Hellbent on Making Hyperloop a Reality</p>
        </div>
      </div>
      <div class="report electrek" >
        <div class="logo">
          <img src="../assets/images/electrek.png">
        </div>
        <div class="text">
          <p>Reddit came together and created a Hyperloop pod design to help kickstart Elon Musk's </p>
        </div>
      </div>

    </div>
  </div>


  <div class="footer">
    <div class="footer-container">
      <img class="logo" src="../assets/images/logo-white.png">
      <div class="contact-info">
        <h3>get in touch</h3>
        <p>contact@rloop.org</p>
      </div>
      <div class="follow-us">
        <h3>follow us</h3>
        <a href="https://twitter.com/rLoopTeam"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/rloopteam" class="middle"><i class="fa fa-facebook fa-lg "></i></a>
        <a href="https://www.reddit.com/r/rLoop"><i class="fa fa-reddit-alien fa-lg"></i></a>
      </div>
    </div>
  </div>
</body>
</html>