<!DOCTYPE html>
<html>
<head>
  <title>rLoop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="../js/common.js"></script>
</head>
<body>

  <div class="header">
    <img class="logo" src="../assets/images/logo-white.png">
    <span class="hamburger" onclick="toggleHamburgerMenu()">≡</span>
    <ul class="navbar">
      <li><a href="index.html">rLoop</a></li>
      <li><a href="team.html">Our Team</a></li>
      <li><a href="hyperloop.html">The Hyperloop</a></li>
      <li><a href="media.html">Media</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li>|</li>
      <li><a href="http://rloop.tictail.com/">Shop</a></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="half-page top-subheader team-top">
      <div class="content middle">
        <div class="color-layer">
          <p class="megatext">rLoop is comprised of over <strong>100 members</strong> representing more than <strong>14 countries</strong>.</p>
        </div>
      </div>
    </div>
    <div class="content-div">
      <div class="content team">
        <div class="top-content">
          <h3>We believe in the power of open source collaboration. It’s our driving ethos, our catalyst for innovation, and our means to exponential growth. We believe individuals can have a massive impact when their passion is their incentive, and when they know they are making a difference.</h3>
          <h3>We believe the time to revolutionize transportation and bring the world closer together is here, and we are the team that is making it a reality.</h3>
        </div>

        <div class="members clearfix">
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
        </div>
        <a href="team.html" class="button-large">Interested in joining the team?</a>
      </div>
    </div>
    <div class="content-div partnership"></div>
  </div>


  <div class="footer">
    <div class="footer-container">
      <img class="logo" src="../assets/images/logo-white.png">
      <div class="contact-info">
        <h3>get in touch</h3>
        <p>contact@rloop.org</p>
      </div>
      <div class="follow-us">
        <h3>follow us</h3>
        <a href="https://twitter.com/rLoopTeam"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/rloopteam" class="middle"><i class="fa fa-facebook fa-lg "></i></a>
        <a href="https://www.reddit.com/r/rLoop"><i class="fa fa-reddit-alien fa-lg"></i></a>
      </div>
    </div>
  </div>
</body>
</html>