<!DOCTYPE html>
<html>
<head>
  <title>rLoop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  <div class="header">
    <img class="logo" src="../assets/images/logo-white.png">
    <ul class="navbar">
      <li><a href="index.html">rloop</a></li>
      <li><a href="our-team.html">our team</a></li>
      <li><a href="hyperloop.html">the hyperloop</a></li>
      <li><a href="news.html">news</a></li>
      <li><a href="shop.html">shop</a></li>
      <li><a href="contact.html">contact</a></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="half-page top-subheader team-top">
      <div class="color-layer">
        <div class="content middle">
          <p class="megatext">Our Team</p>
        </div>
      </div>
    </div>
    <!-- <div class="half-page top-subheader">
      <div class="color-layer light-blue">
        <div class="content middle">
          <p class="megatext">If we didn't think we could <strong>change the world</strong> we wouldn't be here.</p>
        </div>
      </div>
    </div> -->
    <div class="three-quarter-page content-div">
      <div class="content team">
        <h3>rLoop has a dedicated team of highly motivated proffesionals and students with diverse technical background.</h3>
        <h3>rLoop has created a benchmark and taking teh lead on how future organizations will be structured and collaborate.</h3>
        <h3>rLoop is comprised of over 100 members representing more than 14 countries.</h3>
        <div class="members">
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="half-page content-div partnership">
    </div>
  </div>


  <div class="footer">
    <div class="footer-container">
      <img class="logo" src="../assets/images/logo-white.png">
      <div class="contact-info">
        <h3>get in touch</h3>
        <p>contact@rloop.org</p>
      </div>
      <div class="follow-us">
        <h3>follow us</h3>
        <a href="https://twitter.com/rLoopTeam"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/rloopteam" class="middle"><i class="fa fa-facebook fa-lg "></i></a>
        <a href="https://www.reddit.com/r/rLoop"><i class="fa fa-reddit-alien fa-lg"></i></a>
      </div>
    </div>
  </div>
</body>
</html>
