{% set title = "The Hyperloop" %}
{% set cssName = "hyperloop" %}
{% extends "includes/main.html" %}

{% block main %}
    <div class="three-quarter-page content-div padded">
      <div class="content text">
        <h1>Imagine...</h1>
        <h3>...a world where you can travel from Los Angeles to San Fransisco in 30 minutes, or from London to Manchester in 15 minutes.<br>
        Suddenly you could live anywhere, work anywhere, and visit anywhere</h3>
        <p>Hyperloop is a conceptual high-speed transportation system initially proposed by Elon Musk. The concept consists of passenger and cargo pods being propelled at up to 760 mph in a low pressure tube using sustainable and cost-efficient energy. To accelerate it's development, SpaceX is hosting a competition for engineering teams to design their own hyperloop pods and test them at their facility in Hawthorne, California.</p>
        <p>
          <a target="_blank" href="http://www.spacex.com/sites/spacex/files/hyperloop_alpha.pdf" class="text-centered text-normal">Hyperloop Alpha Paper</a>
          <br>
          <a target="_blank" href="https://mdao.grc.nasa.gov/publications/AIAA-2015-1587.pdf" class="text-centered text-normal">NASA Open-Source Conceptual Sizing Models for the Hyperloop Passenger Pod(PDF)</a>
        </p>
      </div>
    </div>
    <div class="half-page content-div hyperloop">
    </div>
  </div>
{% endblock %}
