{% set title = "rLoop" %}
{% set cssName = "front-page" %}
{% extends "includes/main.html" %}

  <!-- Header -->
{% block bigHeader %}


<div class="full-page top-subheader">
  <div class="color-layer light-blue">
    <div class="content middle text">
      <p class="megatext">The time to revolutionize transportation and <strong>bring the world closer together</strong> is here, and rLoop is making it a reality.</p>
    </div>
  </div>
  <img id="front-down-page-arrow" class="down-arrow" src="../assets/images/icons/down-arrow.svg">
</div>
{% endblock %}

<!-- Main content -->
{% block main %}
<div class="half-page content-div padded">
  <div class="content text">
    <h1>What is rLoop?</h1>
    <h2>rLoop is a non-profit, open source, online think tank.</h2>
    <p>Our goal is to democratize the Hyperloop by embracing open source and collaborative design and development. Since our founding, more than 140 members from over 14 countries have rallied behind this concept.</p>
    <p>Together we are revolutionizing transportation, and our approach to realizing it is just as revolutionary.</p>
     <a href="team.html" class="button-large">Meet our team</a>
  </div>
</div>

<div class="half-page group-image">

</div>

<div class="content-div our-mission padded">
  <div class="content">
    <h1>Our Mission</h1>
    <div class="half left">
      <p>The rLoop competition pod is named rPod, to differentiate from development of our full scale Hyperloop pod.</p>
      <p>The rPod needs to perform the mission of safe, cost-effective, and efficient high speed transit over the length of the Hyperloop test track while providing a comfortable cabin for a self-contained flight data recorder and passenger dummy, in order to win the SpaceX Competition.</p>
      <a href="hyperloop" class="button-large">What is the hyperloop?</a>
    </div>
    <div class="half right">
      <img class="half-content-image" src="../assets/images/rloop_pod_transparent.png">
    </div>
    <div class="half left exploded">
      <img class="half-content-image" src="../assets/images/rLoop V6 3AM.273 - Final.png">
    </div>
    <div class="half right">
      <h3 class="list-header">Mission Objectives</h3>
      <ul>
        <li>To transit at high speeds over the length of the Hyperloop test track.</li>
        <li>To provide a comfortable cabin for the self contained flight data recorder.</li>
        <li>To be compatible with the functional capabilities of the Hyperloop.</li>
        <li>To function within the low-pressure environment of the Hyperloop.</li>
        <li>To provide a safe design for the competition.</li>
        <li>To provide an energy efficient means of transportation.</li>
        <li>To ensure high system maintainability during competition operations.</li>
        <li>To minimize system cost.</li>
        <li>To win the SpaceX competition.</li>
      </ul>
      <a href="team" class="button-large">More about rLoop</a>
    </div>
  </div>
</div>

<div class="content-div padded servetheloop">
  <div class="content ">
    <h1>#ServeTheLoop</h1>
    <div class="serve-images">
      <img "half-content-image" src="../assets/images/350552-11d29800c9e748f89e56058872a57c9c.png">
      <span class="image-spacer"></span>
      <img "half-content-image" src="../assets/images/350552-a933d17a1b984f7f8866eaec401b54c9.png">
    </div>
    <a href="http://rloop.tictail.com/" class="button-large">Visit our shop</a>
  </div>
</div>

<div class="content-div padded latest-news">
  <div class="content ">
    <h1>Latest news</h1>
    <div class="serve-images">
      <img "half-content-image" src="../assets/images/350552-11d29800c9e748f89e56058872a57c9c.png">
      <span class="image-spacer"></span>
      <img "half-content-image" src="../assets/images/350552-a933d17a1b984f7f8866eaec401b54c9.png">
      <span class="image-spacer"></span>
      <img "half-content-image" src="../assets/images/350552-a933d17a1b984f7f8866eaec401b54c9.png">
    </div>
  </div>
</div>

<div class="content-div padded twitter">
  <div class="content ">
    <img "half-content-image" src="../assets/images/icons/TwitterLogo_dark.png">
    <div id=”twitter_message”></div>
    <p>@rLoopTeam</p>
  </div>
</div>

{% endblock %}
