{% set title = "Press" %}
{% set cssName = "press" %}
{% extends "includes/main.html" %}

{% block main %}
<div class="press-reports clearfix">
  <!-- top -->
  <div class="report verge">
    <div class="logo">
      <img src="../assets/images/verge.png">
    </div>
    <div class="text">
      <h2>How to build a Hyperloop</h2>
      <p><i>Over a thousand students flood Texas A&amp;M last weekend for a piece of Elon Musk's moonshot</i></p>
    </div>
  </div>
  <div class="report fortune" >
    <div class="logo">
      <img src="../assets/images/fortune.png">
    </div>
    <div class="text">
      <p>One non-university team organized through online forum Reddit, advanced through the first phase of the compeition and will test their pod this summer on a SpaceX-built Hyperloop test track</p>
    </div>
  </div>

  <!-- mid -->
  <div class="report psfk" >
    <div class="logo">
      <img src="../assets/images/psfk.png">
    </div>
    <div class="text">
      <p>rLoop: We Are Pushing the Limits of the Open Source, Online Think Tank Model</p>
    </div>
  </div>
  <div class="report electrek" >
    <div class="logo">
      <img src="../assets/images/electrek.png">
    </div>
    <div class="text">
      <p>Elon Musk on the Hyperloop: "I'm starting to think this is really going to happen" - MIT and Reddit won the SpaceX Hyperloop Pod Design Competition</p>
    </div>
  </div>
  <div class="report motherboard" >
    <div class="logo">
      <img src="../assets/images/motherboard.png">
    </div>
    <div class="text">
      <p>Meet the Redditors Who Designed a Hyperloop Pod</p>
    </div>
  </div>

  <!-- bottom -->
  <div class="report autoevolution">
    <div class="logo">
      <img src="../assets/images/autoevolution.png">
    </div>
    <div class="text">
      <p>rLoop is the Latest Team Hellbent on Making Hyperloop a Reality</p>
    </div>
  </div>
  <div class="report electrek" >
    <div class="logo">
      <img src="../assets/images/electrek.png">
    </div>
    <div class="text">
      <p>Reddit came together and created a Hyperloop pod design to help kickstart Elon Musk's </p>
    </div>
  </div>
</div>
{% endblock %}
