{% set title = "Our Sponsors" %}
{% set cssName = "sponsors" %}

{% extends "includes/main.html" %}

{% block main %}
<div class="content-div">
    <div class="content sponsors">
        <div class="sponsors-wrapper" >
        	<div class="sponsors-thank">We are thankful for the generous<br> 
        	support of our sponsors</div>
            {% for sponsor in sponsors %}
            <div class="sponsor {% if sponsor.major %}major-sponsor{%endif%}" >
                <a target="_blank" href="{{sponsor.link}}"><img src="{{sponsor.imageUrl}}" alt="{{sponsor.name}} - {{sponsor.bio}}" title="{{sponsor.name}} - {{sponsor.bio}}"/></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
