{% set title = "Store" %}
{% set cssName = "store" %}

{% extends "includes/main.html" %}

{% block main %}
<div class="content-div">
    <div class="content store">
        <div class="store-wrapper" >
        	<iframe src="//tictail.com/embed/3ZMS/product/n7fu" frameborder="0" width="310" height="445px"></iframe>
            <iframe src="//tictail.com/embed/3ZMS/product/n5Kq" frameborder="0" width="310" height="445px"></iframe>
            <iframe src="https://www.indiegogo.com/project/help-build-rloop-s-pod-for-spacex-hyperloop-comp/embedded" width="222px" height="445px" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
{% endblock %}
