{% set title = "Our Team" %}
{% set cssName = "team" %}

{% extends "includes/main.html" %}

{% block main %}
    <div class="content-div">
      <div class="content team">
        <div class="top-content">
          <p>rLoop is comprised of over <span class=\"bold\">100 members</span> representing more than <span class=\"bold\">14 countries</span>.</p>
          <br>
          <p>We believe in the power of open source collaboration. It’s our driving ethos, our catalyst for innovation, and our means to exponential growth. We believe individuals can have a massive impact when their passion is their incentive, and when they know they are making a difference.</p>
          <br>
          <p>We believe the time to revolutionize transportation and bring the world closer together is here, and we are the team that is making it a reality.</p>
        </div>
        <div class="members clearfix">
          {{items}}
          {% for member in members %}
            <div class="member">
              <div class="profile-image-wrapper">
                <img src="{{member.imageUrl}}"/>
              </div>
              <div class="info">
                <p>{{member.name}}</p>
                <p><strong>{{member.title}},</strong> <i>{{member.location}}</i></p>
              </div>
            </div>
          {% else %}
            <div class="member">
              <div class="profile-image-wrapper">
                <img src="..\assets\images\members\doge.png"/>
              </div>
              <div class="info">
                <p>No team members</p>
                <p>:(</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <a target="_blank" href="https://docs.google.com/forms/d/1BAFjC9ON3Zietr0hxtaYpmAfDkuSjx028bM-0veWOUo/viewform" class="button-large">Interested in joining the team?</a>
    </div>
    <div class="content-div partnership"></div>
{% endblock %}
