{% set title = "Our Team" %}
{% set cssName = "team" %}
{# You might wonder why we have spans with a bold class instead of strong tags here. This is because
  there is special styling applied to strong tags in page headers, that we want to avoid here. #}
{% set header = "rLoop is comprised of over <span class=\"bold\">100 members</span> representing more than <span class=\"bold\">14 countries</span>." %}

{% extends "includes/main.html" %}

{% block main %}
    <div class="content-div">
      <div class="content team">
        <div class="top-content">
          <h3>We believe in the power of open source collaboration. It’s our driving ethos, our catalyst for innovation, and our means to exponential growth. We believe individuals can have a massive impact when their passion is their incentive, and when they know they are making a difference.</h3>
          <h3>We believe the time to revolutionize transportation and bring the world closer together is here, and we are the team that is making it a reality.</h3>
        </div>

        <div class="members clearfix">
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
          <div class="member">
            <div class="profile-image-wrapper">
              <img src="..\assets\images\members\doge.png"/>
            </div>
            <div class="info">
              <p>Paul Le Henaff</p>
              <p><strong>Software Engineer,</strong> <i>UK</i></p>
            </div>
          </div>
        </div>
      </div>
      <a href="team.html" class="button-large">Interested in joining the team?</a>
    </div>
    <div class="content-div partnership"></div>
{% endblock %}
