<!DOCTYPE html>
<html>
<head>
  <title>{{ title }} - rLoop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="icon" href="../assets/images/favicon-32.png">
  <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>

  <div class="{{ cssName }} main-content">
    <!-- real header -->
    {% block bigHeader %}
      <div class="half-page top-subheader title-header">
        <div class="color-layer light-blue">
          <div class="content bottom">
            {% if header %}
            <p class="megatext">{{ header | safe }}</p>
            {% else %}
            <p class="megatext"><strong>{{ title }}</strong></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
    {% block main %} There should be something here. (This is bad) {% endblock %}
  </div>

  <!-- FIXME: misnomer. This is actually the navbar -->
  <!-- This goes below the actual header so that it's on top, z-wise -->
  <div class="header">
    <a href="/"><img class="logo" src="../assets/images/logo-white.png"></a>
    <span class="hamburger" onclick="toggleHamburgerMenu()">≡</span>
    <ul class="navbar">
      <li><a href="index">rLoop</a></li>
      <li><a href="team">Our Team</a></li>
      <li><a href="hyperloop">The Hyperloop</a></li>
      <li><a href="press">Press</a></li>
      <li><a href="mailto:contact@rloop.org?subject=Hi!" target="_blank">Contact</a></li>
      <li>|</li>
      <li><a target="_none" href="http://rloop.tictail.com/">Shop</a></li>
    </ul>
  </div>

  <div class="footer">
    <div class="footer-container">
      <div class="copyright">
        <img class="logo" src="../assets/images/logo-white.png">
        <p class="copyright-text">&copy; 2016 <a href="//rloop.org">rLoop, Incorporated.</a><br />All Rights Reserved.</p>
      </div>
      <div class="list-signup">
        <h3>get in the loop</h3>
        <form action="//rloop.us12.list-manage.com/subscribe/post?u=131680a7fd56be89b79329f9b&amp;id=69fc70f978" method="post" target="_blank" id="form">
          <input type="email" class="list-email" name="EMAIL" placeholder="me@rloop.org" />
          <input type="submit" class="list-button" value="LAUNCH!" />
        </form>
      </div>
      <div class="follow-us">
        <h3>follow us</h3>
        <a href="https://twitter.com/rLoopTeam"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/rloopteam" class="middle"><i class="fa fa-facebook fa-lg "></i></a>
        <a href="https://www.reddit.com/r/rLoop"><i class="fa fa-reddit-alien fa-lg"></i></a>
      </div>
    </div>
  </div>

{% if __DEV__ %}
<!-- LiveReload -->
<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
{% endif %}
</body>
</html>
