<!DOCTYPE html>
<html>
<head>
  <title>{{ title }} - rLoop Hyperloop team</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="rLoop is an open source team of volunteers working on the the creation of a working Hyperloop. We are the only non-student team in the SpaceX Hyperloop competition.">
  <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="icon" href="../assets/images/favicon-32.png">
  <script type="text/javascript" src="../js/common.js"></script>
  {% block header %}
  {% endblock %}
</head>
<body>

  <div class="{{ cssName }} main-content parallax-wrapper">
    <!-- real header -->
    {% block bigHeader %}
      <div class="half-page top-subheader title-header parallax-background-effect">
        <div class="color-layer light-blue">
          <div class="content bottom">
            {% if header %}
            <p class="megatext">{{ header | safe }}</p>
            {% else %}
            <p class="megatext"><strong>{{ title }}</strong></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
    {% block main %} There should be something here. (This is bad) {% endblock %}
  </div>

  <!-- FIXME: misnomer. This is actually the navbar -->
  <!-- This goes below the actual header so that it's on top, z-wise -->
  <div class="header">
    <a href="/"><img class="logo" src="../assets/images/logo-white.png"></a>
    <span class="hamburger" onclick="toggleHamburgerMenu()">≡</span>
    <ul class="navbar">
      <li><a href="index">rLoop</a></li>
      <li><a href="team">Our Team</a></li>
      <li><a href="hyperloop">The Hyperloop</a></li>
      <li><a href="sponsors">Sponsors</a></li>
      <li><a href="press">Press</a></li>
      <li><a href="http://break-a-pod.rloop.org">Game</a></li>
      <li><a href="mailto:contact@rloop.org?subject=Hi!" target="_blank">Contact</a></li>
      <li>|</li>
      <li><a href="store">Store</a></li>
      <li>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="XKPRDAMQVS5DC">
          <input type="submit" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" value="Donate">
        </form>
      </li>
    </ul>
  </div>

  <div class="footer">
    <div class="footer-container">
      <div class="copyright">
        <img class="logo" src="../assets/images/logo-white.png">
        <p class="copyright-text">&copy; 2016 <a href="//rloop.org">rLoop, Incorporated.</a><br />All Rights Reserved.</p>
      </div>
      <div class="list-signup">
        <h3>get in the loop</h3>
        <form action="//rloop.us12.list-manage.com/subscribe/post?u=131680a7fd56be89b79329f9b&amp;id=69fc70f978" method="post" target="_blank" id="form">
          <input type="email" class="list-email" name="EMAIL" placeholder="me@rloop.org" />
          <input type="submit" class="list-button" value="LAUNCH!" />
        </form>
      </div>
      <div class="follow-us">
        <h3>follow us</h3>
        <a href="https://twitter.com/rLoopTeam"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://www.facebook.com/rloopteam" class="middle"><i class="fa fa-facebook fa-lg "></i></a>
        <a href="https://www.reddit.com/r/rLoop"><i class="fa fa-reddit-alien fa-lg"></i></a>
      </div>
    </div>
  </div>

{% if __DEV__ %}
<!-- LiveReload -->
<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
{% else %}
{# In Production, Google Analytics #}
<script>
//!function(r,L,o,O,p){r.GoogleAnalyticsObject=o;r[o]||(r[o]=function(){(r[o].q=r[o].q||[]).push(arguments)});r[o].l=+new Date;O=L.createElement('script');p=L.scripts[0];O.src='//www.google-analytics.com/analytics.js';p.parentNode.insertBefore(O,p)}(window,document,'ga');ga('create','UA-72211727-3','auto');ga('send','pageview');
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-93488506-1', 'auto');ga('send', 'pageview');

</script>
 

{% endif %}
{% block footer %}<!--footer code--> {% endblock %}
</body>
</html>
