/* Global styles */

/* TODO: Why does the whole site break when margin and padding is not on the * element? */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* News things */
input.list-email:focus::-webkit-input-placeholder { color:transparent; }
input.list-email:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input.list-email:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input.list-email:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
input.list-button {cursor: pointer;}

/* Utility */

.text-centered {
  text-align: center;
  width: 100%;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

.bold {
  font-weight: bold;
}

/* Parallax effect */

.parallax-wrapper .top-subheader.parallax-background-effect {
  background-attachment: fixed;
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  line-height: 100px;
  background: -webkit-linear-gradient(top, rgba(30,30,30,0.4), rgba(255,255,255, 0));
  color: #fff;
}

.header .logo {
  height: 70%;
  margin-left: 7%;
  vertical-align: middle;
  display: inline-block;
}

.navbar {
  position: absolute;
  right: 8%;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 840px) {
  .header .logo{
    margin-left: 1%;
  }
}

.navbar li {
  display: inline-block;
  padding-left: 20px;
}

.navbar li input{
  font-size: initial;
  background: none;
  border: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.navbar li a,
.navbar li input {
  text-decoration: none;
  color: #FFFFFF;
  transition: border 0.2s ease;
  border-bottom: 2px solid transparent
}

.navbar li a:hover,
.navbar li input:hover {
  border-bottom-color: #FFFFFF;
}

.hamburger{
  display: none;
}

.hamburger-menu{
  display: none;
}

/* hamburger-menu, this needs some reworking to look good */
@media (max-width: 1200px) {
  .navbar{
    right: 5%;
    display: none;
  }

  .hamburger{
    position: absolute;
    right: 6%;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    font-size: 50px;
  }

  .mobile-nav{
    display: block;
    position: absolute;
    right: 5px;
    top: 80px;
    z-index: 5;
    text-transform: none;
  }
  .mobile-nav li{
    display: block;
    margin: 0;
    padding: 0;
    line-height: normal;
    margin-bottom: 2px;
    text-align: center;
  }
  .mobile-nav li a,
  .mobile-nav li input{
    display: block;
    padding: 10px;
    border: 1px solid white;
    color: #404040;
    border: 1px solid rgba(64, 64, 64, 0.8);
    background-color: #fff;
  }
  .mobile-nav li input {
    text-transform: none;
    width: 100%;
  }

  .mobile-hide {
    display: none!important;
  }
}

/* Main content */

.main-content {
  width: 100%;
}

.half-page {
  min-height: 50vh;
}

.three-quarter-page {
  min-height: 75vh;
}

.full-page {
  height: 100vh;
}

.top-subheader {
  text-align: center;
  min-height: 100%;
  /* I don't know why we need this (!important), but we do */
  background-repeat: no-repeat !important;
  background-position: center top;
}

.front-page .top-subheader{
  background: url('../assets/images/shutterstock_90095539.jpg');
  background-position: 50% 25%;
  background-size: cover !important;
  background-attachment: fixed;
}

.hyperloop .top-subheader{
  background: url('../assets/images/TheHyperloop.jpg');
  background-position: 55% 5%;
  background-size: 60%;
}

.press .top-subheader {
  background: url('../assets/images/hyperloop-award-signed-by-elon-musk.jpg');
  background-size: cover !important;
}

.team .top-subheader {
  background-color: black;
  background: url('../assets/images/rloop-group.jpg') 50% 20%;
  background-size: cover !important;
}

@media (max-width: 840px) {
  .top-subheader{
    background-position: 50% 0px;
  }
}
@media (max-width: 1200px) {
  .front-page .top-subheader {
      background: url('../assets/images/shutterstock_90095539.jpg');
      background-position: 50% 30%;
      background-attachment: fixed;
  }
}

.color-layer.light-blue{
  background-color: rgba(0, 176, 224, 0.6);
  height: 100%;
  width: 100%;
}

.color-layer.blue-gradient{
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(0, 176, 224, 0.6) 75%,rgba(0,0,0,0.8) 100%);
  height: 100%;
  width: 100%;
}

a.text-normal {
  color: rgb(134, 171, 230);
}

/*this is to accommodate for the header*/
.top-subheader .megatext{
  padding-top: 50px;
}

.megatext{
  color: #fff;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 270%;
  padding-left: 15%;
  padding-right: 15%;
}
.megatext strong{
  font-weight: 400;
}

@media (max-width: 840px) {
  .megatext{
    font-size: 200%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.content-div{
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: rgb(77, 77, 77);
  min-height: 350px;
}

.content-div.padded{
  padding: 30px 0px;
}

.content-div.our-mission{
  min-height: 700px;
}

.content-div h1{
  font-size: 300%;
  margin-bottom: 2%;
}
.content-div h3 {
  font-weight: 300;
  font-size: 140%;
  margin-bottom: 3%;
}

.content-div .list-header{
  font-size: 140%;
  font-weight: 700;
}

.content-div h2{
  font-size: 180%;
}

.content-div p{
  font-size: 120%;
  margin-bottom: 2.5%;
}

.content-div ul{
  margin-bottom: 2.5%;
  margin-left: 19px;
}

.content{
  margin: 0 auto 0 auto;
  position: relative;
}

.content.text{
  max-width: 700px;
}

.content .half{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 49vw;
  max-width: 49vw;
  text-align: left;
  margin-top: 10px;
}
.content .half.left{
  padding: 0 1% 0 4%;
}
.content .half.right{
  padding: 0 4% 0 1%;
}

.content .half img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
}

@media (max-width: 1150px) {
  .content .half{
    width: 90vw;
    max-width: 90vw;
    padding: 0;
  }
}

.content.middle{
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.content.centered{
  margin-left: auto;
  margin-right: auto;
}

.content.bottom{
  top: 75%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@media (max-width: 840px) {
  .content.bottom{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

.button-large{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #404040;
  border: 2px solid #404040;
  padding: 9px 15px;
  transition: background-color 0.2s, color 0.2s;
}

.button-large:hover{
  color: #fff;
  background-color: #404040;
  text-decoration: none;
  cursor: pointer;
}

.group-image{
  background: url('../assets/images/rloop-group.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% -90px;
  color: white;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

@media (max-width: 840px) {
  .group-image{
    background-position: 50% 0;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: auto;
  }
  .group-image.content-div {
    min-height: 200px;
  }
}

/* frontpage */
.front-page .content.text h2 {
    font-weight: 300;
    font-size: 180%;
    margin-bottom: 5%;
}
.front-page .down-arrow {
  opacity: 0.55;
  max-width: 150px;
  z-index: 200;
  transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
}
.front-page .down-arrow:hover {
  opacity: 1;
  cursor: pointer;
}

.content-div.servetheloop{
  background-color: #F2F2F2;
}
.content-div.twitter{
  display: none;
  background-color: #F2F2F2;
}
.content-div.twitter img{
  max-height: 210px;
}
.servetheloop{
  height: auto;
}
.serve-images{
  margin-bottom: 25px;
}
.image-spacer{
  width: 4%;
  display: inline-block;
}

.content-div.latest-news{
  display: none;
  background-color: #FFF;
}

.front-page .megatext {
  padding-left: 0;
  padding-right: 0;
}

.front-page .content.text {
    max-width: 1200px;
    padding: 0 20% 0 20%;
}
@media (max-width: 1500px) {
  .front-page .content.text {
      max-width: 1200px;
      padding: 0 10% 0 10%;
  }
}

@media (max-width: 900px) {

  .hyperloop .top-subheader{
    background: url('../assets/images/TheHyperloop.jpg');
    background-position: 55% 10%;
    background-size: 80%;
  }
  .front-page .content.text {
      max-width: 1200px;
      padding: 0 5% 0 5%;
  }
}

.our-mission .half.left,
.our-mission .half.right {
  padding-left: 15%;
  padding-right: 15%;
}
.our-mission a {
  margin-top: 20px;
}
.our-mission .half.left.exploded {
    vertical-align: top;
    height: 350px;
}
.our-mission .half.left.exploded img {
    height: 100%;
    max-width: none;
    max-height: none;
}


.our-mission .half.left {
    padding-right: 5%;
}
.our-mission .half.right {
    padding-left: 5%;
}

@media (max-width: 1200px) {
  .our-mission .half.right {
      padding-left: 10%;
      padding-right: 10%;
  }
  .our-mission .half.left {
      padding-left: 10%;
      padding-right: 10%;
  }

  .our-mission .half.left.exploded {
      width: 100%;
      max-width: none;
      max-height: 350px;
      padding-right: 10%;
      min-height: auto;
  }

  .our-mission .half.left.exploded img {
      height: 100%;
      max-width: none;
      max-height: 350px;
  }
}

@media (max-width: 840px) {
  .image-spacer{
    display: none;
  }
}

@media (max-width: 640px) {
  .our-mission .half.left.exploded {
      width: 100%;
      max-width: none;
      max-height: 350px;
      padding-right: 10%;
      min-height: auto;
      height: auto;
  }
  .our-mission .half.left.exploded img {
      height: auto;
      width: 100%;
  }
}

/* Hyperloop */

.content-div.hyperloop {
      background-image: url('../assets/images/hyperloop-will.png'), -webkit-linear-gradient(top, rgb(190, 211, 236) 0%, rgb(197, 234, 249) 30%, rgb(197, 234, 249) 98%, rgb(186, 221, 235) 100%);
      background-image: url('../assets/images/hyperloop-will.png'), -moz-linear-gradient(top, rgb(190, 211, 236) 0%, rgb(197, 234, 249) 30%, rgb(197, 234, 249) 98%, rgb(186, 221, 235) 100%);
      background-image: url('../assets/images/hyperloop-will.png'), linear-gradient(top, rgb(190, 211, 236) 0%, rgb(197, 234, 249) 30%, rgb(197, 234, 249) 98%, rgb(186, 221, 235) 100%);

  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  background-color: #C5EAF9;
  height: 100vh;
}

@media (max-width: 640px) {
  .hyperloop .title-header .megatext strong {
      font-size: 50px;
  }
}

/* Our Team */

@media (max-width: 360px ) and (max-height: 640px )  {
  .top-subheader .megatext {
      padding-top: 0;
  }
}
.hyperloop .megatext {
    font-size: 250%;
    padding-left: 5%;
    padding-right: 5%;
}

.team .members {
    width: 80%;
    margin-left: 5%;
}

.content.team {
  padding: 50px 20px 50px 20px;
}

.team a.button-large {
    margin: 0 15px 30px 15px;
}

@media (max-width: 480px) {
  .team .member {
    width: 60%;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  .team .member .info {
    float: left;
    margin-top: 15px;
    margin-left: 5px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .content.team {
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .team .members {
    width: 90%;
    margin-left: 10%;
  }
}
.content.team a {
  margin-top: 30px;
}

.team.title-header {
  background-image: -webkit-linear-gradient(top,  rgba(125,185,232,0) 65%,rgba(30,87,153,1) 100%), url('../assets/images/rloop-psfk.com_.png-1.jpg');
  background-size: initial;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  min-height: 330px;
  background-color: black;
}
.top-content {
    padding: 30px 15% 30px 15%;
}
.member {
  width: 420px;
  min-height: 100px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}
.team .member .profile-image-wrapper {
  width: 100px;
  min-height: 100px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.team .member .profile-image-wrapper img {
  float: left;
}
.team .member .info {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  max-width: 300px;
}
.team .member .info p{
  text-align: left;
}
.team .member .info p:nth-child(1){
  font-size: 115%;
  font-weight: 900;
}
.team .member .info p strong{
  text-align: left;
  font-size: 90%;
}
.team .member .info p i{
  font-weight: normal;
  font-size: 100%;
}

/* Press */

.press.main-content {
  text-align: center;
}
.title-header .megatext strong {
    font-size: 100px;
}
.title-header .content.bottom {
    padding-bottom: 0;
}
@media (max-width: 840px) {
  .top-subheader .megatext {
      padding-top: 0;
  }
  .title-header .megatext strong {
      font-size: 70px;
  }
  .title-header .content.bottom {
      top: 75%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
  }

}
.top-subheader .megatext {
    padding-top: 0;
    padding-bottom: 30px;
}


.title-header {
    height: 35vh;
    min-height: 225px;
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.press-reports {
  max-width: 1600px;
  margin: 5px auto 5px auto;
  text-align: center;
}

.press-reports .report {
  margin: 5px;
  width: 425px;
  height: 300px;
  border: solid #A7A7A7 1px;
  border-top: solid 10px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}

.press-reports .report a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.press-reports .report p {
  text-align: center;
}

.press-reports .report img {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-height: 80px;
  text-align: center;
  max-width: 100%;
}

.press-reports .report .text {
  background-color: white;
  text-align: left;
  padding: 20px;
  font-size: 24px;
  font-weight: 300;
}

.press-reports .report .logo {
    max-height: 100px;
    background-color: #FBF9F9;
    padding: 15px 0;
    max-height: 80px;
}

@media (max-width: 1200px) {
  .press-reports {
      margin: 0;
  }
  .press-reports .report {
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 100%;
    height: auto;
  }
}

/* Sponsors */

.content.sponsors {
  margin: 40px 0 25px 0;
  min-height: 52vh;
}
.sponsors-wrapper {
  max-width: 850px;
  margin: 0 auto auto;
}
.sponsors-wrapper .sponsor {
  display: inline-block;

}

.row {
  width: 100%;
}
.individual-sponsor-column-third {
  width: 33.33%;
  float: left;
}
@media (max-width: 800px) {
  .individual-sponsor-column-third {
    width: 100%;
    float: left;
  }
}

.sponsor {
  width: 40%;
  min-height: 200px;
  margin: 0 40px;
  line-height: 190px;
}
.sponsor img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;

}
@media (max-width: 850px) {
  .sponsor,
  .major-sponsor {
    width: 55%;
    line-height: 130px;
    min-height: 100px;
  }
}
.sponsor a {
  vertical-align: middle;
}
.major-sponsor {
  width: 40%;
  padding: 0 100px 0 100px;
  margin: 0 auto auto;
}
.sponsors-thank {
  font-size: 24px;
  font-weight: 400;
}

/* Store */

.store-wrapper {
  min-height: 50vh;
  margin: 30px 0;
}

/* Footer */

.footer {
  display: inline-block;
  min-height: 140px;
  width: 100%;
  background-color: #404040;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

.footer-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.footer-container > *{
  margin-top: 45px;
}

.footer .copyright{
  vertical-align: middle;
  display: inline-block;
  width: 180px;
  text-align: center;
  overflow: visible;
}

.footer .copyright .logo {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.footer .list-signup{
  display: inline-block;
  vertical-align: middle;
  margin-left: 7%;
  margin-right: 7%;
}

.footer .list-email, .footer .list-button{
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  padding: 2%;

}

.footer .list-email{
  width: 59%;
}

.footer .list-email::-webkit-input-placeholder, .footer .list-email, .footer .list-button{ /* Chrome/Opera/Safari */
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.footer .list-email::-moz-placeholder, .footer .list-email, .footer .list-button{ /* Firefox 19+ */
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.footer .list-email:-ms-input-placeholder, .footer .list-email, .footer .list-button{ /* IE 10+ */
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.footer .list-email:-moz-placeholder, .footer .list-email, .footer .list-button{ /* Firefox 18- */
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.footer .list-email::placeholder, .footer .list-email, .footer .list-button{ /* Future spec */
  font-weight: bold;
  font-family: 'open_sans', Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.footer .follow-us{
  display: inline-block;
  vertical-align: middle;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer a {
  color: white;
  padding: 3px;
}
.footer a.middle{
  margin: 0px 8px;
}

/*Team map*/
.team-map #map{
  width: 100%;
  height: 400px;
}