/* fonts & global */

@font-face {
  font-family: 'open_sans_light';
  src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'open_sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'open_sans_bold';
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto_slab_light';
  src: url('../assets/fonts/RobotoSlab-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto_slab';
  src: url('../assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto_slab_bold';
  src: url('../assets/fonts/RobotoSlab-Bold.ttf') format('truetype');
}

*{
  font-family: 'open_sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*///////////////*/
/* utility */
/*///////////////*/
.text-centered {
  text-align: center;
  width: 100%;
}
.clearBoth {
  clear:both;
}
.clearfix {
    display: inline-block;
    width: 100%;
}

/* You might wonder why this exists. See my comment at the top of team.html */
.bold {
  font-weight: bold;
}


/* header */

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  line-height: 100px;
  background: -webkit-linear-gradient(top, rgba(30,30,30,0.4), rgba(255,255,255, 0));
  color: #fff;
  font-family: 'open_sans', Helvetica, Arial, sans-serif;
}

.header .logo{
  height: 70%;
  margin-left: 7%;
  vertical-align: middle;
  display: inline-block;
}

.navbar{
  position: absolute;
  right: 8%;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 840px) {
  .header .logo{
    margin-left: 1%;
  }
}

.navbar li{
  display: inline-block;
  padding-left: 20px;
}

.navbar li a{
  color: #fff;
  text-decoration: none;
  transition: text-shadow 0.2s, color 0.2s;
}

.navbar li a:hover{
  text-shadow: #404040 0 0 15px;
  color: #404040;
}

.hamburger{
  display: none;
}

.hamburger-menu{
  display: none;
}

/* hamburger-menu, this needs some reworking to look good */
@media (max-width: 840px) {
  .navbar{
    right: 5%;
    display: none;
  }

  .hamburger{
    position: absolute;
    right: 6%;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    font-size: 50px;
  }

  .mobile-nav{
    display: block;
    position: absolute;
    right: 5px;
    top: 80px;
    z-index: 5;
    text-transform: none;
  }
  .mobile-nav li{
    display: block;
    margin: 0;
    padding: 0;
    line-height: normal;
    margin-bottom: 2px;
    text-align: center;
  }
  .mobile-nav li a{
    display: block;
    padding: 10px;
    border: 1px solid white;
    color: #404040;
    border: 1px solid rgba(64, 64, 64, 0.8);
    background-color: #fff;
  }
}

/* main content */

.main-content{
  width: 100%;
}

.half-page{
  height: 50vh;
  min-height: 50vh;
}
.three-quarter-page{
  height: 75vh;
}
.full-page{
  height: 100vh;
}
.two-thirds-page{
  height: 67vh;
}

.top-subheader{
  text-align: center;
  min-height: 100%;
}

.front-page .top-subheader{
  background: url('../assets/images/shutterstock_90095539.jpg');
  background-size: cover;
  background-position: 50% -100px;
}

.hyperloop .top-subheader{
  background: url('../assets/images/rLoop.74.jpg');
  background-size: cover;
}

@media (max-width: 840px) {
  .hyperloop .top-subheader{
    background-position: 50% 0px;
  }
}

.color-layer.light-blue{
  background-color: rgba(0, 176, 224, 0.6);
  height: 100%;
  width: 100%;
}
.color-layer.blue-gradient{
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(0, 176, 224, 0.6) 75%,rgba(0,0,0,0.8) 100%);
  height: 100%;
  width: 100%;
}

.links-list a {
    float: left;
}

a.text-normal {
  color: rgb(134, 171, 230);
    text-decoration: none;
}

/*this is to accommodate for the header*/
.top-subheader .megatext{
  padding-top: 50px;
}

.megatext{
  color: #fff;
  font-family: 'roboto_slab_light', Helvetica, Arial, sans-serif;
  font-size: 270%;
  padding-left: 15%;
  padding-right: 15%;
}
.megatext strong{
  font-family: 'roboto_slab_bold', Helvetica, Arial, sans-serif;
}

@media (max-width: 840px) {
  .megatext{
    font-size: 200%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.content-div{
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: rgb(77, 77, 77);
  min-height: 350px;
}

.content-div.padded{
  padding: 30px 0px;
}

.content-div.our-mission{
  min-height: 700px;
}

.content-div h1{
  font-family: 'roboto_slab_light', Helvetica, Arial, sans-serif;
  font-size: 220%;
  margin-bottom: 2%;
}

.content-div h3{
  font-family: 'open_sans_light', Helvetica, Arial, sans-serif;
  font-size: 140%;
  margin-bottom: 3%;
}

.content-div .list-header{
  font-family: 'open_sans', Helvetica, Arial, sans-serif;
  font-size: 140%;
}

.content-div h2{
  font-family: 'roboto_slab_light', Helvetica, Arial, sans-serif;
  font-size: 180%;
}

.content-div p{
  font-family: 'open_sans', Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin-bottom: 2.5%;
}

.content-div ul{
  margin-bottom: 2.5%;
  margin-left: 19px;
}

.content{
  margin: 0 auto 0 auto;
  position: relative;
}


.content.text{
  max-width: 700px;
}

.content .half{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 49vw;
  max-width: 49vw;
  text-align: left;
  margin-top: 10px;
}
.content .half.left{
  padding: 0 1% 0 4%;
}
.content .half.right{
  padding: 0 4% 0 1%;
}

.content .half img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
}

@media (max-width: 840px) {
  .content .half{
    width: 90vw;
    max-width: 90vw;
    padding: 0;
  }
}

.content.middle{
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.content.centered{
  margin-left: auto;
  margin-right: auto;
}

.content.bottom{
  top: 75%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@media (max-width: 840px) {
/*  .content{
    margin: 0 3% 0 3%;
  }*/
  .content.bottom{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

.button-large{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #404040;
  border: 2px solid #404040;
  padding: 9px 15px;
  transition: background-color 0.2s, color 0.2s;
}
.button-large:hover{
  color: #fff;
  background-color: #404040;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.group-image{
  background: url('../assets/images/rloop-group.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% -90px;
  color: white;
  background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}

@media (max-width: 840px) {
  .group-image{
    background-position: 50% 0;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: auto;
  }
  .group-image.content-div {
    min-height: 200px;
  }
}

/* frontpage */
.front-page .down-arrow {
  opacity: 0.55;
  max-width: 150px;
  z-index: 200;
  transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
}
.front-page .down-arrow:hover {
  opacity: 1;
}

.content-div.servetheloop{
  background-color: #F2F2F2;
}
.servetheloop{
  height: auto;
}
.serve-images{
  margin-bottom: 25px;
}
.image-spacer{
  width: 4%;
  display: inline-block;
}

.front-page .megatext {
  padding-left: 0;
  padding-right: 0;
  font-size: 375%;
}
.front-page .content.text {
  max-width: 750px;
  padding: 0 20% 0 20%;
}

.our-mission .half.left,
.our-mission .half.right {
  padding-left: 10%;
  padding-right: 10%;
}
.our-mission a {
  margin-top: 20px;
}
@media (max-width: 840px) {
  .image-spacer{
    display: none;
  }
}


/* hyperloop */
.content-div.hyperloop {
      background-image: url('../assets/images/hyperloop-will.png'), -webkit-linear-gradient(top, rgb(190, 211, 236) 0%, rgb(197, 234, 249) 30%, rgb(197, 234, 249) 98%, rgb(186, 221, 235) 100%);
      background-image: url('../assets/images/hyperloop-will.png'), -moz-linear-gradient(top, rgb(190, 211, 236) 0%, rgb(197, 234, 249) 30%, rgb(197, 234, 249) 98%, rgb(186, 221, 235) 100%);
      background-image: url('../assets/images/hyperloop-will.png'), linear-gradient(top, rgb(190, 211, 236) 0%, rgb(197, 234, 249) 30%, rgb(197, 234, 249) 98%, rgb(186, 221, 235) 100%);

  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  background-color: #C5EAF9;
  height: 100vh;
}

/* our team */
.team .members {
    width: 80%;
    margin-left: 5%;
}

.content.team {
  padding: 50px 20px 50px 20px;
}

@media (max-width: 480px) {
  .team .member {
    width: 60%;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  .team .member .info {
    float: left;
    margin-top: 15px;
    margin-left: 5px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .content.team {
    padding: 0;
    width: 100%;
  }
}

.content.team a {
  margin-top: 30px;
}

.team.title-header {
  background-image: -webkit-linear-gradient(top,  rgba(125,185,232,0) 65%,rgba(30,87,153,1) 100%), url('../assets/images/rloop-psfk.com_.png-1.jpg');
  background-size: initial;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  min-height: 330px;
  background-color: black;
}
.top-content {
    padding: 30px 15% 30px 15%;
}
.member {
  width: 400px;
  min-height: 100px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}
.team .member .profile-image-wrapper {
  width: 100px;
  min-height: 100px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.team .member .profile-image-wrapper img {
  float: left;
}
.team .member .info {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}
.team .member .info p{
  text-align: left;
}
.team .member .info p:nth-child(1){
  font-size: 115%;
  font-weight: 900;
}
.team .member .info p strong{
  text-align: left;
  font-size: 90%;
}
.team .member .info p i{
  font-weight: normal;
  font-size: 100%;
}
.content-div.partnership {
  background-image: url('../assets/images/partnership.png'), -webkit-linear-gradient(top, #1A77B9 0%, #00BDEC 29%, #00BCEA 95%, #01B3DE 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  min-height: none;
}

@media (max-width: 900px) {
  .member {
    width: 45%;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
  }
}
/*///////////////*/
/* press */
/*///////////////*/
.press.main-content {
  text-align: center;
}
.title-header .megatext strong {
    font-size: 250%;
    font-family: 'roboto_slab_light', Helvetica, Arial, sans-serif;
}
@media (max-width: 840px) {
  .title-header .content.bottom {
      top: 75%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
  }
}

.press.title-header {
    height: 35vh;
    background-image: url('../assets/images/hyperloop-award-signed-by-elon-musk.jpg');
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.press-reports {
  max-width: 1600px;
  margin: 5px auto 5px auto;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.press-reports .report {
  border: solid #A7A7A7 1px;
  border-top: solid 10px;
  display: inline-block;
  text-align: center;
  margin: 1%;
  padding-top: 30px;
  box-shadow: rgb(132, 130, 130) 1px 1px 2px;
  background-color: #FBF9F9;
  vertical-align: top;
}

.press-reports .report .logo {
    height: 130px;
}

.press-reports .report img {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-height: 80px;
  text-align: center;
}

.press-reports .report .text {
  background-color: white;
  text-align: left;
  padding: 10px 50px 30px 50px;
  height: 100px;
}

/* report specific */
/*verge*/
.press-reports .report.verge{
  border-color: #FF5020;
  width: 45%;
}

.press-reports .report.verge h2 {
    font-family: 'roboto_slab_light', Helvetica, Arial, sans-serif;
    font-size: 170%;
}
.press-reports .report.verge p {
    color: gray;
    font-size: 90%;
}

/*Fortune*/
.press-reports .report.fortune {
  border-color: black;
  width: 45%;
}
.press-reports .report.fortune p {
  font-family: 'roboto_slab_bold', Helvetica, Arial, sans-serif;
  font-size: 90%;
  font-weight: 900;
}

/*PSFK*/
.press-reports .report.psfk {
  border-color: #673C95;
  width: 30%;
}
.press-reports .report.psfk p {
  color: #673C95;
  font-family: 'roboto_slab_light', Helvetica, Arial, sans-serif;
  font-size: 120%;
}
/*MOBO*/
.press-reports .report.motherboard {
  border-color: black;
  width: 30%;
}
.press-reports .report.motherboard p {
  color: black;
  font-family: 'open_sans_bold', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 130%;
}
/*autoevol*/
.press-reports .report.autoevolution {
  border-color: black;
  width: 40%;
}
.press-reports .report.autoevolution p {
  color: black;
  font-family: 'open_sans_bold', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 130%;
}
/*electrek*/
.press-reports .report.electrek {
  border-color: #C7EDFA;
  width: 30%;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  /* report specific */
  .press-reports .report.verge{
    border-color: #FF5020;
    width: 100%;
  }
  .press-reports .report.fortune {
    border-color: black;
    width: 100%;
  }
  .press-reports .report.psfk {
    border-color: #673C95;
    width: 40%;
  }
  .press-reports .report.motherboard {
    border-color: black;
    width: 100%;
  }
  .press-reports .report.autoevolution {
    border-color: black;
    width: 40%;
  }
  .press-reports .report.electrek {
    border-color: #C7EDFA;
    width: 40%;
  }
}

@media only screen and (max-width : 768px) {
  /* report specific */
  .press-reports .report.verge{
    border-color: #FF5020;
    width: 100%;
  }
  .press-reports .report.fortune {
    border-color: black;
    width: 100%;
  }
  .press-reports .report.psfk {
    border-color: #673C95;
    width: 100%;
  }
  .press-reports .report.motherboard {
    border-color: black;
    width: 100%;
  }
  .press-reports .report.autoevolution {
    border-color: black;
    width: 100%;
  }
  .press-reports .report.electrek {
    border-color: #C7EDFA;
    width: 100%;
  }
}

/* footer */

.footer{
  display: inline-block;
  height: 140px;
  width: 100%;
  background-color: #404040;
  text-align: center;
  color: #fff;
  font-family: 'open_sans_light', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.footer-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.footer-container > *{
  margin-top: 45px;
}

.footer .logo{
  vertical-align: middle;
  display: inline-block;
  height: 50px;
}
.footer .contact-info{
  display: inline-block;
  vertical-align: middle;
  margin-left: 7%;
  margin-right: 7%;
}

.footer .follow-us{
  display: inline-block;
  vertical-align: middle;
}

.footer h3{
  text-transform: uppercase;
  font-family: 'open_sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer a{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  border-radius: 12px;
  padding: 3px;
}
.footer a.middle{
  margin: 0px 8px;
}
.footer a:hover{
  color: #404040;
  background-color: white;
}
